{% extends 'axf/base.html' %}

{% load static from staticfiles %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'market/css/market.css' %}"/>
    <script type="text/javascript" charset="utf-8" src="{% static 'market/js/market.js' %}"></script>
{% endblock %}


{% block base %}
    <div id="market">
        <aside>
            <ul>
                {% for foodtype in foodtypes %}
                    <li>
                        <span class="yelloewSlide"></span>
                        <a href="#">{{ foodtype.typename }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>


    </div>
{% endblock %}