{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/css/style.css' %}">
    <script type="text/javascript" src="{% static 'myApp/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myApp/js/qin.js' %}"></script>
</head>
<body>
<h1>Bin Qin is a good man!</h1>
<img src="{% static 'myApp/img/avatar04.png' %}" alt="avatar" style="width: 200px;height: 200px;">
</body>
</html>